{% load static %}

{% if anonym %}
{% else %}
    {% block chat %}
        <script src="{% static 'chats/js/chatsWebSocket.js' %}"></script>
        <div class="container">

            <div class="d-flex flex-row mb-3">
                {% for chat in private_chats %}
                    <div class="col p-1">
                        <h5 class="card-title" id="chatModalLabel">
                            <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse-{{ chat.slug }}"
                                    aria-expanded="false" aria-controls="collapse-{{ chat.slug }}">
                                Чат {{ chat.title }}
                            </button>
                        </h5>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for chat in private_chats %}
                    <div class="col-auto p-2">
                        <div id="collapse-{{ chat.slug }}" class="collapse overflow-y-scroll hidden"
                             data-bs-parent="#privateChatsAccordion">
                            <div class="chat-messages" id="{{ chat.slug }}-chat-messages">
                                {% for message in chat.private_messages.all %}
                                    <p><b>{{ message.author }}:</b> {{ message.body }}</p>
                                {% endfor %}
                            </div>
                            <form id="chat-form-{{ chat.slug }}">
                                <input type="hidden" name="chat type" value="{{ chat.get_chat_type }}">
                                {{ private_form }}
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </form>
                        </div>
                    </div>

                    <script>handshake('{{ chat.slug }}')</script>
                {% endfor %}
            </div>
        </div>
    {% endblock %}
{% endif %}

