{% load static %}
{% load translators_hub_tags %}
{% load translators_hub_filters %}


<div class="container border-3 justify-content-center">
    {% if comment_form %}
        <form method="post" class="p-3">
            {% csrf_token %}
            <table class="table table-borderless">
                {{ comment_form }}
            </table>
            <div class="container text text-end">
                <button class="btn btn-success" type="submit">Отправить</button>
            </div>
        </form>
    {% endif %}

    {% get_comments page_data as page_obj %}
    {% if page_obj %}
        <ul class="list-group">
            {% for comment in page_obj.object_list %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="comment-container col"
                             style="background-color: #eee; padding: 10px; margin-bottom: 10px; position: relative;">
                            <div class="author-date-container"
                                 style="display: flex; justify-content: space-between; align-items: center;">
                                <a style="margin: 0;"
                                   href="{{ comment.author.get_absolute_url }}"><strong>{{ comment.author }}</strong></a>
                                <p style="margin: 0; color: #888;">{{ comment.pub_date }}</p>
                            </div>

                            <p style="margin: 10px 0; padding-right: 60px;">{{ comment.comment_text }}</p>

                            <div class="comment-buttons"
                                 style="position: absolute; bottom: 5px; right: 5px; display: flex; gap: 5px;">
                                <div>
                                    <span data-page="{{ page_data|get_model_name }}" data-url="{% url 'translators_hub:like-comment' %}"
                                          id="likes-comment-{{ comment.pk }}">{{ comment.likes }}</span>

                                    <button type="button" class="btn btn-success btn-sm rounded-circle"
                                            onclick="likeComment({{ comment.pk }})">👍
                                    </button>
                                </div>
                                <div>
                                    <span data-page="{{ page_data|get_model_name }}" data-url="{% url 'translators_hub:dislike-comment' %}"
                                          id="dislikes-comment-{{ comment.pk }}">{{ comment.dislikes }}</span>
                                    <button type="button" class="btn btn-danger btn-sm rounded-circle"
                                            onclick="dislikeComment({{ comment.pk }})">👎
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% if delete_root %}
                            <div class="col-auto text-end">
                                <form method="post" name="delete">
                                    {% csrf_token %}
                                    <input class="button" type="hidden" name="comment_id"
                                           value="{{ comment.pk }}">
                                    <button type="submit" class="btn btn-danger btn-sm rounded-circle">
                                        🗑️
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% get_pagination_block page_obj %}
    {% endif %}
</div>