{% extends 'translators_hub/base.html' %}
{% load static %}
{% load translators_hub_tags %}

{% block messages %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock messages %}

{% block content %}
    <div class="row py-3">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <hr>
            <ul class="nav nav-pills flex-column mb-auto list-group">
                <h5>Игры:</h5>
                {% for game in games %}
                    {% if game in selected_game %}
                        <li class="list-group-item bg-dark border-0"><span class="text-white"
                                                                           style="padding: 10px; border-radius: 50px; background-color: slategray">{{ game }}</span>
                        </li>
                    {% else %}
                        <li class="nav-link list-group-item text-white"><a class="btn btn-secondary"
                                                                           href="{% url 'translators_hub:home' %}?game={{ game }}">{{ game }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <hr>
        </div>

        <div class="col">

            {% if latest_pages_list %}
                {% for page in latest_pages_list %}
                    <div class="container">
                        <div class="row border p-4 p-md-5 mb-4 rounded text-bg-dark">
                            <div class="col-md-8">
                                <div class="d-flex flex-column justify-content-between align-items-start h-100">
                                    <!-- Внутри первой колонки -->
                                    <div>
                                        <h1 class="display-4 fst-italic">{{ page.title|truncatechars:100 }}</h1>
                                        {% if page.description %}
                                            <p class="lead my-3">{{ page.description|truncatechars:160 }}</p>
                                        {% else %}
                                            <p class="lead my-3">Нет описания</p>
                                        {% endif %}
                                    </div>
                                    <a href="{{ page.get_absolute_url }}"
                                       class="btn btn-sm btn-info text-white mt-auto">Подробнее</a>
                                    <!-- Кнопка "Подробнее" размещена внизу первой колонки -->
                                </div>
                            </div>
                            <div class="col-md-4 d-flex flex-column justify-content-between align-items-end">
                                <!-- Внутри второй колонки -->
                                <img src="{% static 'translators_hub/images/main icon.jpg' %}" alt="" class="card-icon">
                                <div class="d-flex flex-column align-items-center mt-3">
                                    <!-- Добавлены классы для выравнивания элементов друг под другом -->
                                    <span>Оригинальный мод: <b>{{ page.mode_name }}</b></span>
                                    <div class="d-flex flex-row">
                                        {% if page.steam_link %}
                                            <a href="{{ page.steam_link }}"
                                               class="btn btn-sm btn-outline-info m-2 fst-italic">Steam Workshop</a>
                                        {% endif %}
                                        {% if page.paradox_plaza_link %}
                                            <a href="{{ page.paradox_plaza_link }}"
                                               class="btn btn-sm btn-outline-info m-2 fst-italic">Paradox Plaza</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="py-3"><h3>В этой категории ничего нет</h3></div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block pagination %}
    {% get_pagination_block page_obj %}
{% endblock %}