{% load static %}

<nav class="navbar fixed-top navbar-dark bg-dark" aria-label="Dark offcanvas navbar">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="navbar-brand" href="{% url 'translators_hub:home' %}"><img style="max-height: 50px; max-width: 50px"
                    class="img-thumbnail rounded-circle"
                    src="{% static 'translators_hub/images/main icon.jpg' %}" alt="Лого сайта"></a>
            <a class="navbar-brand" href="{% url 'translators_hub:add_page' %}">Добавить страницу</a>
            <a class="navbar-brand" href="{% url 'teams:home' %}">Команды</a>

        </div>
    <div class="row">
        <div class="col">
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 navbar-toggler" action="{% url 'translators_hub:search' %}">
            <input name="search_query" type="search" class="form-control form-control-dark" placeholder="Поиск..." aria-label="Search">
        </form>
        </div>
        <div class="col-auto">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark"
                aria-controls="offcanvasNavbarDark">
            {{ button_name }}
        </button>
        </div>
    </div>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbarDark"
             aria-labelledby="offcanvasNavbarDarkLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" style="font-size: 20px">
            <input type="hidden" id="user-logged" value="{{ user }}">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    {% if user_logged %}
                        <li><a class="dropdown-item"
                               href="{% url 'translators_hub:profile' user_logged.slug %}"><img src="/media/{{ user_logged.profile_image }}" alt="{{ user_logged.profile_image }}" class="profile-icon">Профиль</a></li>

                        <li><a id="active-projects" class="dropdown-item"
                               href="{% url 'translators_hub:my_projects' user_logged.slug %}">Мои
                            проекты({{ active_projects|length }})</a></li>
                        <li><a id="active-invites" class="dropdown-item"
                               href="{% url 'translators_hub:invites' user_logged.slug %}">Приглашения
                            ({{ active_invites|length }} | {{ active_team_invites|length }})</a>
                        </li>
                        <li>
                            <a class="btn btn-danger"
                               href="{% url 'translators_hub:logout' %}">{{ registration_status }}</a>

                        </li>

                    {% else %}
                        <li><a class="dropdown-item"
                               href="{% url 'translators_hub:login' %}">{{ login_status }}</a></li>
                        <li><a class="dropdown-item"
                               href="{% url 'translators_hub:registration' %}">{{ registration_status }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>

<script src="{% static 'translators_hub/js/jQuery/jQuery.js' %}"></script>
<script src="{% static 'translators_hub/js/userWebSocket.js' %}"></script>
