{% extends 'translators_hub/base.html' %}

{% load static %}
{% load translators_hub_tags %}

{% block head %}
    <link type="text/css" href="{% static 'translators_hub/css/form_styles.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'translators_hub/js/jQuery/jQuery.js' %}"></script>
    <script type="text/javascript" src="{% static 'translators_hub/js/jsCookies/js.cookie.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'translators_hub/js/commentaryFunctions.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="container justify-content-center">
        {% if update_button %}
            <a class="btn btn-success" href="{% url 'translators_hub:update_profile' slug=slug %}">Изменить профиль</a>
        {% endif %}
        {% if page_data %}
            <table class="table table-bordered table-light">
                <tr>
                    <th>{{ page_data.user.username }}</th>
                    <td><img src="/media/{{ page_data.profile_image }}" alt="profile avatar" height="40" width="40">
                    </td>
                </tr>
                <tr>
                    <th>Награды:</th>
                    <td>{% if page_data.titles.all %}{{ page_data.titles.all }}{% else %}Нет наград{% endif %}</td>
                </tr>
                <tr>
                    <th>Описание:</th>
                    <td>{{ page_data.description }}</td>
                </tr>
                <tr>
                    <th>Опыт:</th>
                    <td>{{ page_data.experience }}</td>
                </tr>
                <tr>
                    <th>Репутация:</th>
                    <td>{{ page_data.reputation }}</td>
                </tr>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block comments %}
    {% include 'translators_hub/comments_block.html' %}
{% endblock %}
