{% extends 'translators_hub/base.html' %}

{% load static %}
{% load translators_hub_tags %}

{% block head %}
    <link type="text/css" href="{% static 'translators_hub/css/form_styles.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container justify-content-center">
        {% if update_button %}
            <a class="btn btn-success" href="{% url 'translators_hub:update_profile' slug=slug %}">Изменить профиль</a>
        {% endif %}
        {% if profile_data %}
            <table class="table table-bordered table-light">
                <tr>
                    <th>{{ profile_data.user.username }}</th>
                    <td><img src="/media/{{ profile_data.profile_image }}" alt="profile avatar" height="40" width="40">
                    </td>
                </tr>
                <tr>
                    <th>Награды:</th>
                    <td>{% if profile_data.titles.all %}{{ profile_data.titles.all }}{% else %}Нетнаград{% endif %}</td>
                </tr>
                <tr>
                    <th>Описание:</th>
                    <td>{{ profile_data.description }}</td>
                </tr>
                <tr>
                    <th>Опыт:</th>
                    <td>{{ profile_data.experience }}</td>
                </tr>
                <tr>
                    <th>Репутация:</th>
                    <td>{{ profile_data.reputation }}</td>
                </tr>
            </table>
        {% endif %}
    </div>
{% endblock %}

{% block comments %}
    <div class="container justify-content-center">
    {% if comment_form %}
            <form method="post">
                {% csrf_token %}
                <table>
                    {{ comment_form }}
                </table>
            </form>
    {% endif %}
    {% get_comments profile_data as page_obj %}
    {% if page_obj %}
        <ul>
            {% for comment in page_obj.object_list %}
                <li>
                    <div>
                        {{ comment.author }}
                        {{ comment.comment_text }}
                        {{ comment.pub_date }}
                        {% if delete_root %}
                            <form method="post" name="delete" >
                                {% csrf_token %}
                                <input class="button" type="hidden" name="comment_id" value="{{ comment.pk }}">
                                <button class="button btn btn-warning" type="submit">Удалить</button>
                            </form>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% get_pagination_block page_obj %}
    {% endif %}
    </div>
{% endblock %}
